html {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    border: none 0 rgb(34,34,34);
    padding: 0;
    margin: 0;
    background: rgb(245,245,245);
    color: rgb(50,50,50);
    font: 13px/21px "helvetica","MicroSoft YaHei",'Myriad Pro','Lato','Helvetica Neue',Helvetica, Arial,sans-serif;
    font-family: 'helvetica', "MicroSoft YaHei", 'Myriad Pro', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    margin-top: 30px;
}

h2, h3, h4, h5 {
    padding-top: 15px;
    font-weight: bold;
    color: rgb(32,67,92);
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

#banner_wrapper {
    display: block;
    background: rgb(245,245,245);
	border-bottom: solid 1px rgb(221,221,221);
    height: 100px;

    font-weight: lighter;
    font-family: "Roboto", "MicroSoft YaHei", 'Myriad Pro', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#banner_wrapper h1 {
    font-weight: normal;
    padding: 15px 0;
    margin: 0;
}

#banner_wrapper p {
    margin: 8px 0;
}

#navbar {
    margin-bottom: 0;
}

#left_wrapper {
    display: block;
	width: 70%;
	min-width: 560px;
    padding: 20px 0 0 0;
	float: left;
	border-right: solid 1px rgb(221, 221, 221);
    background: rgb(245,245,245);
}

#content_wrapper {
	height: auto;
    padding: 0;
    background: none;
    font-size: 15px;
    background: rgb(245,245,245);
}

blockquote {
    font-size: 14px;
}

#post_list_container li {
    padding: 10px 20px;
    border-bottom: solid 1px rgb(221,221,221);
}

#post_list_container li h2{
    margin-top: 0;
	padding-top: 0;
}

ul.list-unstyled {
    margin-bottom: 0;
}

#post_list_conatiner li:last-child {
    border-bottom: solid 0px rgb(221,221,221);
}

#right_wrapper {
    display: block;
	margin-left: 0 !important;
	width: 30%;
	min-width: 240px;
	float: right;
	padding-left: 0;
}

#right_wrapper ul {
    list-style-type: none;
	padding: 10px 5px;
    padding-left: 20px;
}

#right_wrapper li {
    font-size: 80%;
    padding: 5px 0;
}

#right_wrapper li h3 {
    padding-top: 0;
}

#right_wrapper a {
    color: black;
}

#main_wrapper {
	min-height: 100%;
	height: auto;
    width: 80%;
    min-width: 1000px;
    margin: 0 auto;
    background: white;
}

pre.code code {
    background: rgb(39, 40, 34);
    border: solid 1px rgb(39, 40, 34);
    border-radius: 10px;
    font-size: 13px;
    color: rgb(248, 248, 248);
}

pre.code.reserved code.reserved {
    color: rgb(249, 38, 114);
}

pre.code.constant code.constant {
    color: rgb(174, 129, 255);
}

pre.code.comment code.comment {
    color: rgb(117, 113, 94);
}

pre.code.type code.type {
    color: rgb(102, 217, 239);
}

pre.code.method code.method {
    color: rgb(166, 226, 46);
}

pre.code.string code.string {
    color: rgb(230, 219, 116);
}