#left_wrapper {
	width: 80%;
	min-width: 500px;
	padding-top: 0px;
	padding-right: 20px;
	border-right: none;
	text-align: justify;
	text-justify: inter-ideograph;
}

#JumpList {
	text-align: left;
	border-left: solid 5px rgb(221, 221, 221);
}

#right_wrapper {
	width: 20%;
	min-width: 0;
}

#content_wrapper {
	padding: 0 20px;
	line-height: 30px;
}

table {
	overflow-x: auto;
	width: 100%;
}

dl {
	margin: 20px 0;
}

img {
	display: block;
	margin: auto;
}

dl dt {
	font-size: 120%;
	padding: 10px 0;
}

dl dd {
	margin-left: 20px;
}

.table {
	margin: 50px 0;
}

h1, h2, h3, h4, h5 {
	text-align: left;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 18px;
}

p {
	margin-top: 10px;
	margin-bottom: 25px;
}

.bg-info {
	background-color: #d9edf7;
	padding: 0 8px;
}

.bg-danger {
	background-color: #f2dede;
	padding: 0 8px;
}

blockquote p {
	margin: 0;
}

.syntaxhighlighter .toolbar {
	display: none;
}

div .copyright {
	background-color: #d9edf7;
	padding: 10px;
}

.copyright p {
	margin: 0;
}

code {
	padding: 0;
	color: black;
	font-size: 105%;
	background-color: #dee0e0;
	padding: 1px 5px;
	font-family:  "Consolas", "Courier New", monospace !important;
}

em, i {
	font-family: 'Times New Roman', Times, serif;
	font-size: 110%;
}

blockquote {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #ffffcc;
	border-left: 4px solid #ffeb3b;
}

p.info {
	background-color: #edf7fe;
	border-left: 4px solid #bde2fb;
	padding: 10px;
}

p.message {
	background-color: #ddffdd;
	border-left: 4px solid #4caf50;
	padding: 10px;
}

p.warn {
	background-color:#ffdddd;
	border-left: 4px solid #f44336;
	padding: 10px;
}
