#left_wrapper {
	width: 70%;
	min-width: 500px;
	padding-top: 0px;
	padding-right: 20px;
	border-right: none;
}

#right_wrapper {
	border-left: solid 1px rgb(221, 221, 221);
}

#content_wrapper {
	padding: 0 20px;
	line-height: 30px;
}

h3 {
	font-size: 18px;
	color: black;
}

p {
	text-align: justify;
}

.bg-info {
	background-color: #d9edf7;
	padding: 0 8px;
}

.bg-danger {
	background-color: #f2dede;
	padding: 0 8px;
}

blockquote p {
	margin: 0;
}

.syntaxhighlighter .toolbar {
	display: none;
}

div .copyright {
	background-color: #d9edf7;
	padding: 10px;
}

.copyright p {
	margin: 0;
}

td code {
	padding: 0;
	color: black;
	font-size: 105%;
	background-color: transparent;
	border-radius: 0px;
	font-family:  "Courier New", "Consolas", monospace !important;
}
