#left_wrapper {
	width: 70%;
	min-width: 500px;
	padding-top: 0px;
	padding-right: 20px;
}

#content_wrapper {
	padding: 0 20px;
	line-height: 30px;
}

.syntaxhighlighter table {
    background: rgb(249,249,249);
}

h3 {
	font-size: 18px;
	color: black;
}

blockquote p {
	margin: 0;
}
