---
layout: plain
---

<nav id="left_wrapper">
    {{ content }}
</nav>

<aside id="right_wrapper">
    <ul>
        <li><h3>其他目录</h3></li>
        <li><a href="/stickers.html">学习贴条</a></li>
        <li><a href="/java.html">Java</a></li>
		<li><a href="/scala.html">Scala</a></li>
        <li><a href="/groovy.html">Groovy</a></li>
		<li><a href="/spark.html">Spark</a></li>
		<li><a href="/mongodb.html">MongoDB</a></li>
        <li><a href="/learn.html">课内学习</a></li>
        <li><a href="/aboutme.html">关于我</a></li>
    </ul>
</aside>