<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
	<link rel="shortcut icon" href="/img/favicon.ico" >

    <title>{{ page.title }}</title>
</head>
<body>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/mrdai.js"></script>
    <div id="main_wrapper">
        <header id="banner_wrapper">
            <h1 style="padding-bottom:0">Robert Peng's Blog</h1>
	        <p style="margin-top:8px; color: #999999; font-size: 22px">Blog is how I learn.</p>
        </header>
        <div id="content_wrapper" class="container-fluid">
            {{ content }}
        </div>
    </div>

<!-- Google Analytics Tracking Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91399633-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>