<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mrdai.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    
    <script type="text/javascript" src="/js/syntaxhighlighters/shCore.js"></script>
    <link href="/css/syntaxhighlighters/shCore.css" rel="stylesheet" type="text/css" />
    <link href="/css/syntaxhighlighters/shThemeDefault.css" rel="stylesheet" type="text/css" />
    
    <title>{{ page.title }} - {{ page.author }}</title>
</head>
<body>
    <div id="main_wrapper">
    <div id="banner_wrapper">
    <h1>Mr.Dai's Blog</h1>
    </div>
    <nav id="navbar" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">首页</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/courses.html">本科学习</a></li>
            <li><a href="/application.html">应用开发</a></li>
            <li><a href="/algorithm.html">算法研究</a></li>
            <li><a href="/languages.html">编程语言</a></li>
            <li class="divider"></li>
            <li><a href="/mobile">切换至手机版</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    <div id="content_wrapper" style="padding:20px; line-height:30px">
        <div id="right_wrapper" style="float:right; margin-left: 10px; width: 30%; font-size:15px; line-height:25px;">
            <ul id="JumpList">
                <li><h4>跳转目录</h4></li>
            </ul>
        </div>
                <h1 style="margin-top:0; font-size: 25px;"><strong>{{ page.title }}</strong></h1>
                <p style="color: gray; font-size: 14px">By {{ page.author }}</p>
                <p style="color: gray; font-size:14px;">{{ page.date | date_to_string }}</p>
                <!-- content begins here -->
                {{ content }}
                <!-- and end here -->
    </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/mrdai.js"></script>
    <script>SyntaxHighlighter.all()</script>
</body>
</html>