---
layout: plain
---

<link href="/css/post.css" rel="stylesheet">
<link href="/css/syntaxhighlighters/shCore.css" rel="stylesheet" type="text/css" />
<link href="/css/syntaxhighlighters/shThemeDefault.css" rel="stylesheet" type="text/css" />
<script src="/js/syntaxhighlighters/shCore.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<div id="left_wrapper">
    <p style="color: rgb(50, 93, 114); font-size:40px; font-weight:300; margin-top: 0; padding-top: 30px; padding-bottom: 5px">{{ page.title }}</p>
    <p style="font-size:15px; margin-top: 0; color: #BBB"><em>By {{ page.author }}</em>, {{ page.date | date_to_string }}</p>
    {{ content }}
	<script type="text/javascript">SyntaxHighlighter.all()</script>
    <div class="blank" style="height: 80px"></div>
    <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="http://mr-dai.github.io{{ page.url }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"mr-dai"};
	  (function() {
	    var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
	  })();
	</script>
    <!-- 多说公共JS代码 end -->
</div>

<nav id="right_wrapper" style="margin-left: 10px; font-size:15px; line-height:25px;">
    <ul data-spy="affix" id="JumpList"></ul>
</nav>
